# Chapter 2: Variables and and Simple Data Types
* A variable name is an **identifier**. 
* May consist of letters, digits and underscores (`_`) but may not begin with a digit. 
* Python is _case sensitive_. 
* Each value in Python has a type that indicates the kind of data the value represents.

####  Statement creates `x` and uses the **assignment symbol (`=`)** to give `x` a value.

In [1]:
X_0="Hello World"
print(X_0)

Hello World

### Print a message

In [2]:
_X0="Welcome to the python programming Language"
print(_X0)

Welcome to the python programming Language

In [5]:
# 0_x="Python"
# A variable name cannot start with a digit

### Try to print a Simple Message: Store a message in a variable, and then print that message.

In [6]:
message="simple message"
print(message)

simple message

# Strings

## A string is simply a series of characters. Anything inside quotes is considered a string in Python, and you can use `single` or `double quotes` around your strings
### "This is a string."
### 'This is also a string.'

###  Build in String methods
Directory: dir('  ')

In [1]:
dir(" ")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [8]:
# make uppercase
message="pYthOn ProGramMinG LanguAge"
print(message)
print("The upper case: ",message.upper())

pYthOn ProGramMinG LanguAge
The upper case:  PYTHON PROGRAMMING LANGUAGE

In [9]:
# make lowercase
print("The Lower Case: ",message.lower())

The Lower Case:  python programming language

In [10]:
# capitalize

print("The Capitalize case: ",message.capitalize())

The Capitalize case:  Python programming language

In [11]:
# title
print("The title case: ",message.title())

The title case:  Python Programming Language

In [13]:
# Concatination
message_new=message.lower()
print("Welcome to " + message_new)

Welcome to python programming language

In [15]:
# length
message_new
print(message_new)
len(message_new)

python programming language

27

### Format the string using f-string
`formatted string literals,` **f-strings** are string literals that have an f at the beginning and curly braces containing expressions that will be replaced with their values.

In [23]:
name= "Sam"
age=20

In [22]:
print("The name is "+ name)

The name is Sam

In [25]:
# print("The age is "+age)
# type erroras we can not concatinate a string with a number/imteger
print("The age is",age)

The age is 20

In [26]:
print(f"The name is {name}. The age is {age}")

The name is Sam. The age is 20

In [27]:
number1 =45
number2 =57
print(f"The first number is {number1}. The second number is {number2}")
print(f"The multiplecation of the first and second number is {number1*number2}")

The first number is 45. The second number is 57
The multiplecation of the first and second number is 2565

## Practice1:
1. Personal Message: Store a person’s name in a variable, and print a message
to that person. Your message should be simple, such as, “Hello Eric,
would you like to learn some Python today?”
2. Name Cases: Store a person’s name in a variable, and then print that person’s
name in lowercase, uppercase, and titlecase.

In [33]:
name="Sam"
print(f"Hi {name}. I hope you are having a great day!")

Hi Sam. I hope you are having a great day!

In [34]:
print("The upper case: ",name.upper())

The upper case:  SAM

In [36]:
print("The lower case: ",name.lower())

The lower case:  sam

In [37]:
print("The title case: ",name.title())

The title case:  Sam

## Adding Whitespace to Strings with Tabs or Newlines or  quotation
* A backslash (`\`) in a string is the **escape character**. 
* The backslash and the character immediately following it form an **escape sequence**. 

#### 2.4.2 Other Escape Sequences
| Escape sequence | Description
| :------- | :------------
| `\n` | Insert a newline character in a string. When the string is displayed, for each newline, move the screen cursor to the beginning of the next line. 
| `\t` | Insert a horizontal tab. When the string is displayed, for each tab, move the screen cursor to the next tab stop. 
| `\\` | Insert a backslash character in a string.
| `\"` | Insert a double quote character in a string.
| `\'` | Insert a single quote character in a string.

In [38]:
print("Insert a newline character in a string.")

Insert a newline character in a string.

In [40]:
print("Insert \na \nnewline \ncharacter \nin \na \nstring.")

Insert
a
newline
character
in
a
string.

In [41]:
print("Insert \ta \tnewline \tcharacter \tin \ta \tstring.")

Insert 	a 	newline 	character 	in 	a 	string.

In [42]:
print("The Student's name is: Eric")

The Student's name is: Eric

In [44]:
print('The Student\'s name is: Eric')

The Student's name is: Eric

## Useful methods for split a string

In [45]:
dir(" ")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [46]:
print(message)
message.split(sep=" ")
# Convert a string into a list

pYthOn ProGramMinG LanguAge

['pYthOn', 'ProGramMinG', 'LanguAge']

In [47]:
message.split(sep="P")

['pYthOn ', 'roGramMinG LanguAge']

## Useful methods for strip a string
- lstrip
- rstrip
- strip

In [49]:
message1= "Python Programming Language"

In [51]:
message1.lstrip()

'Python Programming Language'

In [52]:
message1.rstrip()

'Python Programming Language'

In [53]:
message1.strip()

'Python Programming Language'

## Practice2
1. Stripping Names: Store a person’s name, and include some whitespace characters at the beginning and end of the name. Make sure you use each character combination, "\t" and "\n", at least once.
Print the name once, so the whitespace around the name is displayed.
Then print the name using each of the three stripping functions, lstrip(),
rstrip(), and strip().

In [48]:
name= "John Cason"
print("\nJohn \nCason")
print("\tJohn \tCason")

John
Cason
	John 	Cason

#### Replacing words or characters of a string

# Number

# Data Types
* `float` (floating point) - used for real numbers.
* `int` (integer) - used for integers.

## Arithmetic Operator
| Python operation | Arithmetic operator | Python expression
| :-------- | :-------- | :-------- 
| Addition | `+`  | `f + 7` 
| Subtraction | `–` | `p - c` 
| Multiplication | `*` | `b * m` 
| Exponentiation | `**` |  `x ** y` 
| True division | `/` | `x / y` 
| Floor division | `//` | `x // y` 
| Remainder (modulo) | `%` | `r % s` 

`Floor division` is an operation in Python that divides two numbers and rounds the result down to the nearest integer.

In [76]:
#True division
9/4

2.25

In [77]:
# Floor division
9//4

2

In [ ]:
# Modulo
9%4

In [78]:
# Exponent
2**3

8

## Avoiding Type Errors with the str() Function

In [79]:
name= "John"
age= 22
print("The name is: " + name + ". The age is " + str(age))

The name is: John. The age is 22

In [82]:
type(age)

int

In [81]:
type(name)

str

In [80]:
type(str(age))

str

## Practice3 
1. Write addition, subtraction, multiplication, and division
operations that each result in the number 91. Be sure to enclose your operations
in print statements to see the results. You should create four lines that look
like this:
print(53 + 38)
Your output should simply be four lines with the number 91 appearing once
on each line.
2. Favorite Number: Store your favorite number in a variable. Then, using
that variable, create a message that reveals your favorite number. Print that
message.

In [83]:
print(f"The addition: {53+38}")

The addition: 91

## Getting Input from the User
* Built-in **`input` function** requests and obtains user input.

In [84]:
flower=input("Enter a flowers name: ")

Enter a flowers name: lilly

In [85]:
first_name= input("Enter your first name: ")
last_name= input("Enter your last name: ")
print(f"The full name: {first_name} {last_name}")

Enter your first name: John
Enter your last name: Cason
The full name: John Cason

In [86]:
type(first_name)

str

In [87]:
number=input("Enter a number: ")
print(number)
type(number)

Enter a number: 54
54

str

## Getting an Integer/ Float from the User
* If you need an integer, convert the string to an integer using the built-in **`int` / `float` function**.

In [88]:
number1= int(input("Enter an integer: "))
number2= float(input("Enter a floating point number: "))
print(f"The first number {number1}. The second number {number2}.")
print(f"The multiplication result is : {number1*number2}")

Enter an integer: 4
Enter a floating point number: 5
The first number 4. The second number 5.0.
The multiplication result is : 20.0

In [89]:
number3=float(input("Enter a number: "))
print(number3)

Enter a number: 4
4.0

## Checking the data type using `type` function

In [90]:
type(number3)

float

## Errors in Python
When an error occurs in your program, the Python interpreter does its
best to help you figure out where the problem is. The interpreter provides
a traceback when a program cannot run successfully. A traceback is a record
of where the interpreter ran into trouble when trying to execute your code.
Errors can be classified into three major groups:
- Syntax errors
- Runtime errors
- Logical errors

### Syntax error.
- Python will find these kinds of errors when it tries to parse your program, and exit with an error message without running anything. 
- Syntax errors are mistakes in the use of the Python language, and are analogous to spelling or grammar mistakes in a language like English: for example, the sentence Would you some tea? does not make sense – it is missing a verb.

### Example:
- leaving out a keyword
- putting a keyword in the wrong place
- leaving out a symbol, such as a colon, comma or brackets
- misspelling a keyword
- incorrect indentation
- empty block

In [91]:
#print("This is a error message)
#fix
print("This is a error message")

This is a error message

In [93]:
#len('hello')=5

## Runtime error
- A program with a runtime error is one that passed the interpreter’s syntax checks, and started to execute. 
- However, during the execution of one of the statements in the program, an error occurred that caused the interpreter to stop executing the program and display an error message. 
- Runtime errors are also called `exceptions` because they usually indicate that something exceptional (and bad) has happened.

### Examples: 
- division by zero.
- performing an operation on incompatible types.
- using an identifier which has not been defined.
- accessing a list element, dictionary value or object attribute which doesn't exist.
- trying to access a file which doesn't exist.

In [94]:
#print(6/0)

In [95]:
#subtotal = input("Enter total before tax:")
#tax = .06 * subTotal # misspelled word
#print("tax on", subtotal, "is:", tax)

In [96]:
total= float(input("Enter the amount you spent: "))
tax=.06*total
print(f"The subtotal is: {total+tax}")

Enter the amount you spent: 5
The subtotal is: 5.3

### Logical error
- Logical errors are the most difficult to fix. They occur when the program runs without crashing, but produces an incorrect result. 
- The error is caused by a mistake in the program’s logic. 
- You won’t get an error message, because no syntax or runtime error has occurred. 
- You will have to find the problem on your own by reviewing all the relevant parts of your code

In [97]:
number = 23
number2= 56
print(f"The addition of two number is {number*number2} ")

The addition of two number is 1288