### John Cason
### PA 2
### version 2
### Fall 2023

## Task 1: Personal Information
* Create variables to store the following information about yourself: Your name, Your age, Your height in centimeters, Your favorite color. 
* Print a message that includes all of the above information, e.g., "My name is [name], I am [age] years old, I am [height] cm tall, and my favorite color is [color]."

In [3]:
name="John"
age=22
height=177.8
color="orange"
print(f"My name is {name}, I am {age} years old, I am {height} cm tall, and my favorite color is {color}.")

My name is John, I am 22 years old, I am 177.8 cm tall, and my favorite color is orange.

## Task 2: Temperature Conversion
* Create a variable celsius_temp and assign a temperature in Celsius to it.
* Convert the Celsius temperature to Fahrenheit
* Print a message that includes both the Celsius and Fahrenheit temperatures, e.g., "The temperature is [Celsius]°C, which is [Fahrenheit]°F."

In [7]:
celsius=24.44
fahrenheit=76
print(f"The temperature is {celsius}°C, which is {fahrenheit}°F.")

The temperature is 24.44°C, which is 76°F.

## Task 3: Simple Calculator
* Create variables num1 and num2 and assign them numeric values.
* Perform the following operations and print the results:
    *  Addition of num1 and num2
    *  Subtraction of num1 from num2
    *  Multiplication of num1 and num2
    *  Division of num1 by num2

In [9]:
num1=5
num2=9
num1+num2

14

In [11]:
num2-num1

4

In [12]:
num1*num2

45

In [13]:
num1/num2

0.5555555555555556

## Task 4: String Manipulation
* Create a variable quote and assign a famous quote to it.
* Print the length of the quote.
* Print the quote in uppercase and lowercase.
* Print the quote with any leading/trailing whitespace removed.
* Print the quote split into a list of words.

In [21]:
quote="There is no I in team, but there is in win and I win."
print(quote)

There is no I in team, but there is in win and I win.

In [15]:
print("The upper case: ",quote.upper())

The upper case:  THERE IS NO I IN TEAM, BUT THERE IS IN WIN AND I WIN.

In [40]:
print("The lower case: ",quote.lower())

The lower case:  there is no i in team, but there is in win and i win.

In [45]:
quote.strip()

'There is no I in team, but there is in win and I win.'

In [46]:
print(quote.split(sep=" "))

['There', 'is', 'no', 'I', 'in', 'team,', 'but', 'there', 'is', 'in', 'win', 'and', 'I', 'win.']

## Task 5: User Input and Integer Operations
* Prompt the user to enter two integer numbers.
* Calculate and print the sum, difference, product, and quotient (integer division) of the twonumbers.
* Include a Markdown header comment with the name of the assignment, author, version, and semester information. Create markdown for each task and state clearly the question
* Using the instructions provided by GitHub, create a local git repository, and push your .ipynb file to it.

In [26]:
num1= float(input("integer 1: "))
num2= float(input("integer 2: "))
print(f"The addition is: {num1+num2}")
print(f"The difference is: {num1-num2}")
print(f"The multiplication is: {num1*num2}")
print(f"The division is: {num1/num2}")

integer 1: 7
integer 2: 8
The addition is: 15.0
The difference is: -1.0
The multiplication is: 56.0
The division is: 0.875