### John Cason
### PA3
### version 3
### Fall 2023

### Task 1: List Operations
* Create a list called numbers containing the integers 10, 20, 30, 40, 50.
* Append the number 60 to the list.
* Insert the number 5 at the beginning of the list.
* Remove the second element from the list.
* Print the modified numbers list.

In [4]:
numbers=[10, 20, 30, 40, 50]
print(numbers)

[10, 20, 30, 40, 50]

In [5]:
numbers.append(60)
numbers.insert(0,5)
numbers.remove(20)
print(f"New numbers list:", numbers)

New numbers list: [5, 10, 30, 40, 50, 60]

### Task 2: Tuple Basics
* Create a tuple called days containing the days of the week: "Monday" to "Sunday".
* Print the third day of the week.
* Attempt to modify the second day to "Funday". Note and explain the error that occurs.

In [6]:
days=('Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday')
days[2]

'Wednesday'

In [42]:
#since this is a tuple and not a list you cannot adjust days like this but have to create a new tuple
# days(1)=Funday

### Task 3: Reversing Sublist
* Create a list named letters containing the letters of the alphabet: "a" to "z".
* Use list slicing to extract the sublist [p, o, n, m, l, k] from the letters list.
* Reverse the sublist extracted in step 2 and print it.

In [10]:
letters=['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [21]:
letters.reverse()

In [22]:
print(letters)

['z', 'y', 'x', 'w', 'v', 'u', 't', 's', 'r', 'q', 'p', 'o', 'n', 'm', 'l', 'k', 'j', 'i', 'h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']

In [23]:
letters[10:16]

['p', 'o', 'n', 'm', 'l', 'k']

### Task 4: Tuple Packing and Unpacking
* Create a tuple called student with your first name, last name, age, and your favorite subject(in that order).
* Unpack the student tuple and print each value individually.

In [30]:
student=('John', 'Cason', 22, 'accounting')

In [31]:
student[0]

'John'

In [33]:
student[1]

'Cason'

In [34]:
student[2]

22

In [35]:
student[3]

'accounting'

### Task 5: Shopping List
* Create a list named shopping_list with at least 5 items you would buy from a grocery store.
* Print the total number of items on your shopping list.
* Replace the third item on the list with a different item.
* Sort the list in alphabetical order.
* Print the sorted shopping list.

In [37]:
shopping_list=['cheese','soda','bagel','ground beef','pizza']

In [38]:
len(shopping_list)

5

In [39]:
shopping_list[2]='bread'

In [40]:
shopping_list.sort()

In [41]:
print(shopping_list)

['bread', 'cheese', 'ground beef', 'pizza', 'soda']